.messengers {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
color: red;
  > a {
    display: inline-flex;
    color: var(--color-darck-900);

    &:after {
      background: var(--color-light-300);
    }
  }
}
