@import "../../../assets/styles/styleGlobal";

.header {
  display: flex;
  width: 100%;
  min-height: 50px;

  .containerHeader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 5.271%;
    z-index: 2;
    background: var(--color-medium-opaciti);
    box-shadow: 0 1px 5px #f3f5ea;
  }

  .logo {
    all: unset;
    color: var(--color-darck-900);
    font-size: var(--font-size-25);

    &:hover {
      all: unset;
      color: var(--color-darck-900);
      font-size: var(--font-size-25);
      cursor: pointer;

    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //height: 100%;

    .items {
      display: flex;
      align-items: center;
      z-index: 2;
      color: var(--color-darck-900);

      .messengers {
        display: none;
        color: var(--color-light-300);

        &:after {
          background: var(--color-light-300);
        }
      }

      @media (max-width: $mobileBreakpoint) {
        display: flex;
        position: absolute;
        top: 50px;
        right: -100%;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        background: var(--color-darck-900);
        max-width: 200px;
        width: 100%;
        height: calc(100vh - 50px);
        transition: all 1s cubic-bezier(.77, 0, .175, 1);
        overflow: auto;
        .page {
          color: var(--color-light-300);
        }

        .page:hover:after, .page:after {
          background: var(--color-light-300);

        }
        > ul {

          align-items: center;
          justify-content: center;
          flex-direction: column;

          > li > a {
            color: var(--color-light-300);

            &:after {
              background: var(--color-light-300);
            }
          }
        }
        .messengers {
          display: flex;
        }
      }

      > ul {
        display: flex;
        align-self: center;
      }
    }

    .itemsActive {
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 35px 15px;
      transition: all 1s cubic-bezier(.9, 1, .175, 1);
    }
  }

  .navActive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
  }
}


