@import "../../../assets/styles/styleGlobal";

.header {
  display: flex;
  width: 100%;
  min-height: 50px;

  .containerHeader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 5.271%;
    z-index: 1;
    background: #f3f5ea;
    box-shadow: 0 1px 5px #f3f5ea;
  }

  .logo {

    > a {
      color: var(--color-darck-900);
      font-size: var(--font-size-25);
    }

    > a:hover {
      svg {
        path:nth-child(1) {
          fill: #56676f;
          transition: fill .3s ease 0s;
        }

        path:nth-child(2) {
          fill: #aa8a71;
          transition: fill .3s ease 0s;
        }

      }
    }

  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .items {
      z-index: 2;
      color: var(--color-darck-900);
      @media (max-width: $mobileBreakpoint) {
        display: flex;
        position: absolute;
        top: 50px;
        right: -100%;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        background: var(--color-darck-900);
        box-shadow: inset 0 1px 3px var(--color-light-300);
        max-width: 200px;
        width: 100%;
        height: calc(100vh - 50px);
        transition: all 1s cubic-bezier(.77, 0, .175, 1);
        overflow: auto;
        .page {
          color: var(--color-light-300);

        }

        .page:hover:after, .page:after {
          background: var(--color-light-300);

        }
        > ul {

          align-items: center;
          justify-content: center;
          flex-direction: column;

          > li > a {
            color: var(--color-light-300);


            &:after {
              background: var(--color-light-300);
            }
          }
        }
      }

      > ul {
        display: flex;
        align-self: center;
      }

      .messengers {
        color: var(--color-light-300);

        &:after {
          background: var(--color-light-300);
        }
      }
    }

    .itemsActive {
      right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 35px 15px;
      transition: all 1s cubic-bezier(.9, 1, .175, 1);
    }

  }

  .navActive {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
  }
}


