.header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5.271%;
  @media (max-width: 700px) {
    height: 50px;
  }

  .logo {

    > a {
      color: var(--color-darck-900);
      font-size: var(--font-size-25);
    }

    > a:hover {
      svg {
        path:nth-child(1) {
          fill: #56676f;
          transition: fill .3s ease 0s;
        }

        path:nth-child(2) {
          fill: #aa8a71;
          transition: fill .3s ease 0s;
        }

      }
    }

  }

  .nav {

    .blockUl {
      z-index: 2;
      color: var(--color-darck-900);
      @media (max-width: 700px) {
        position: absolute;
        top: 50px;
        right: -250%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: var(--color-darck-900);
        box-shadow: inset 0 3px 3px var(--color-light-300);
        max-width: 200px;
        width: 100%;
        height: calc(100% - 50px);
        transition: all 1s cubic-bezier(.77, 0, .175, 1);
        .page {
          color: var(--color-light-300);
        }

        .page:hover:after, .page:after {
          background: var(--color-light-300);
        }
        > ul {
          align-items: center;
          justify-content: center;
          flex-direction: column;

          > li > a {
            color: var(--color-light-300);

            &:after {
              background: var(--color-light-300);
            }
          }
        }
      }

      > ul {
        display: flex;
        align-self: center;
      }

       .messengers {
        color: var(--color-light-300);
         &:after {
           background: var(--color-light-300);
         }
      }
    }

    .blockUlActive {
      right: 0;
      transition: all 1s cubic-bezier(.9, 1, .175, 1);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 35px 15px;
    }

  }
  .navActive{
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
}


