:root {
  //#light
  --color-grey-100: #ffffff;
  --color-grey-300: #f5f6fa;
  --color-grey-500: #e5e5e5;
  --color-grey-900: #ababab;

  //#darck
  --color-darck-900: #000000;

  //#elloy
  --color-elloy-500:#d7cbb7
}