.blockItem{
  display: flex;
  flex-wrap: wrap;

  margin: 0 -10px;

  .item{
    flex: 1 1 33%;
    min-width: 240px;
    //max-width: 250px;
    padding: 0 10px;
    margin: 0 0 10px;
    width: 100%;
    border: 1px solid red;
  }
}
